---

---

<footer>
	<div id="Content" class="font-mono">
		<p id="text1">@ 2010 - 2025 / Alex Pate</p>
		<p id="text2">View Source</p>
	</div>
</footer>

<style scoped>
	#Content {
		display: flex;
		justify-content: space-between;
		font-size: 14px;
		font-weight: 500;
	}
	.font-mono {
		font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
	}
</style>
