---

---

<nav>
	<a href="/" class="no-link-style">ap</a>
	<div id="nav-links">
		<a href="/information" class="no-link-style font-mono">Information</a>
		<a href="/writing" class="no-link-style font-mono">Skills</a>
		<a href="/contact" class="no-link-style font-mono">Contact</a>
	</div>
</nav>

<style scoped>
	nav {
		display: flex;
		justify-content: space-between;
		font-size: 16px;
		font-weight: 550;
	}
	#nav-links {
		display: flex;
		gap: 20px;
	}
	.no-link-style {
		color: inherit;
		text-decoration: none;
	}
	.font-mono {
		font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
	}
</style>
