---
export interface Props {
	title: string;
	date: string;
	content: string;
}

const { title, date, content } = Astro.props;
---

<div id="container">
	<h2 id="title">{title}</h2>
	<p id="date" class="font-mono">Published on {date}</p>
	<p id="content">{content}</p>
</div>

<style scoped>
	#container {
		line-height: 15px;
	}
	#title {
		color: #333;
	}
	#date {
		color: #7b7b7b;
	}
	.font-mono {
		font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
	}
	#content {
		color: #535353;
		line-height: 25px;
	}
</style>
