---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<button id="styled-button">{title}</button>

<style scoped>
  #styled-button {
    background-color: rgb(37, 37, 37);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  #styled-button:hover {
    background-color: gray;
  }

  #title {
    color: #333;
  }
  #date {
    color: #7b7b7b;
  }
  .font-mono {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
      monospace;
  }
  #content {
    color: #535353;
    line-height: 25px;
  }
</style>
